## TODO: this is...?


include riemann_secp256k1/examples/ex_script.py
include riemann_secp256k1/tests/ *.py
recursive-include riemann_secp256k1/build_secp256k1/ *
recursive-include riemann_secp256k1/build_secp256k1/secp256k1_headers *
recursive-include secp256k1/ *
