## TODO: this is...?


include secpy256k1/examples/ex_script.py
include secpy256k1/tests/ *.py
recursive-include secpy256k1/build_secp256k1/ *
recursive-include secpy256k1/build_secp256k1/secp256k1_headers *
recursive-include secp256k1/ *
