[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = ">=1.11.5"
"pysecp256k1" = {editable = true, path = "."}
pytest = "*"
"flake8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
