[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "==1.11.5"
"secpy256k1" = {path = ".", editable = true}
pytest = "==3.8.1"
"flake8" = "==3.5.0"

[dev-packages]
twine = "*"

[requires]
python_version = "3.7"
